pip

keras
launchpadlib
tensorflow
numpy
scipy
matplotlib
pandas
sympy
nose
scikit-learn

virtualenv

ipython
jupyter
jupyterlab
voila
spyder

Flask
Django
flask-cors
eel
pyqt5

requests
urllib3

PyMySQL
types-PyMySQL
peewee

flake8
flake8-docstrings
pytest
pytest-cov
pytest-pythonpath
pylint
pycodestyle
pydocstyle
pylama
pylama-pylint
pyflakes
mypy
autopep8
yapf
mccabe
coverage
codecov

radon
pycryptodome
pycryptodomex

GitPython
dulwich

PyYAML
ruamel.yaml
demjson

python-language-server[all]
pyserial
PyProbe
msgpack
hacking
typed-ast

pyverilog
graphviz
pygraphviz
jinja2
veriloggen
ipgen
pycoram
mulpy
onnx
nngen

youtube_dl
mkdocs
astroid
certifi
chardet
colorama
idna
isort
lazy-object-proxy
oauthlib
PySocks
requests-oauthlib
six
toml
tweepy
wrapt
google-cloud-storage
ruamel.std.zipfile
futures
futures3

fastimport
wheel
twine
setuptools
python-gnupg
