pip
ruamel.std.zipfile
numpy
scipy
matplotlib
pandas
sympy
nose
scikit-learn
virtualenv
ipython
jupyter
Flask
requests
urllib5
PyMySQL
peewee
flask-cors
Django
pycryptodome
pycryptodomex
python-language-server[all]
pyserial
demjson
flake8
pytest
pylint
PyYAML
ruamel.yaml
PyProbe
msgpack
pycodestyle
flake8-docstrings
hacking
pylama
pylama-pylint
mypy
typed-ast
GitPython
dulwich
eel
spyder
pyverilog
youtube_dl
