pip
ruamel.std.zipfile
numpy
scipy
matplotlib
pandas
sympy
nose
scikit-learn
virtualenv
ipython
jupyter
Flask
requests
urllib3
urllib5
PyMySQL
peewee
flask-cors
Django
pycryptodome
pycryptodomex
python-language-server[all]
pyserial
demjson
flake8
pytest
pylint
pycodestyle
flake8-docstrings
pylama
pylama-pylint
mypy
PyYAML
ruamel.yaml
PyProbe
msgpack
hacking
typed-ast
GitPython
dulwich
eel
pyqt5
spyder
pyverilog
youtube_dl
mkdocs
astroid
certifi
chardet
colorama
idna
isort
lazy-object-proxy
mccabe
oauthlib
PySocks
requests-oauthlib
six
toml
tweepy
wrapt
google-cloud-storage
coverage
codecov
fastimport
wheel
twine
setuptools
gpg
